<div class="backlog panel panel-default col-md-<%= col_size %>">
  <div class="panel-heading">
    <strong><%= state %></strong>
    <i class="glyphicon glyphicon-info-sign show-tooltip" 
       data-toggle="tooltip" data-placement="top" title="<%= tooltip %>"></i>
    <span class="pull-right"><%= story_points %> sp</span>
  </div>
  <div class="panel-body">
    <% stories.each do |story| %>
      <%= render "story", story: story %>
    <% end %>
  </div>
</div>