<div class="panel panel-default story<%= " #{story.story_type}" %><%= ' retro' if story.retro? %><%= ' rejected' if story.rejected? %>"
     data-toggle="modal" data-target="<%= "\##{story.id}-modal" %>" >
  <div class="panel-body">
    <%= render "fields", story: story, size: "50" %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="<%= story.id %>-modal" tabindex="-1" role="dialog" 
     aria-labelledby="<%= story.id %>-modal-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content<%= " #{story.story_type}" %><%= ' retro' if story.retro? %><%= ' rejected' if story.rejected? %>">
      <div class="modal-body">
        <%= render "fields", story: story, size: "200" %><br>
        <% unless(story.description.nil?) %>
          <strong>Description</strong><br>
          <span><%= simple_format story.description %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>