<% provide :title, "#{@team.capitalize} Scrum Board" %>
<div id="board" class="content container-fluid">
  <div class="row-fluid">
      <%= render "backlog", state: "To Do (Unstarted/Rejected)", 
                 stories: @current.unstarted_stories, 
                 story_points: @current.unstarted_story_points, 
                 col_size: 3 %>
      <%= render "backlog", state: "In Progress (Started)",
                 stories: @current.started_stories,
                 story_points: @current.started_story_points, 
                 col_size: 3 %>
      <%= render "backlog", state: "Testing (Finished)",
                 stories: @current.finished_stories,
                 story_points: @current.finished_story_points, 
                 col_size: 2 %>
      <%= render "backlog", state: "Acceptance (Delivered)",
                 stories: @current.delivered_stories,
                 story_points: @current.delivered_story_points, 
                 col_size: 2 %>
      <%= render "backlog", state: "Done (Accepted)",
                 stories: @current.accepted_stories,
                 story_points: @current.accepted_story_points, 
                 col_size: 2 %>
  </div>
</div>