<div class="panel panel-default">
  <div class="panel-heading">Colors</div>
  <div class="panel-body">
    <%= form_for(@color, url: "/admin/update", html: { class: "form-horizontal" }) do |f| %>
      <ul class="error-messages">
        <% @color.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      
      <div class="form-group">
        <%= f.label :unstarted, "DEV To Do", id: "unstarted", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :unstarted, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :started, "DEV In Progress", id: "started", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :started, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :finished, "QE Testing", id: "finished", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :finished, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :delivered, "PPO Acceptance", id: "delivered", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :delivered, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :impeded, "Impeded", id: "impeded", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :impeded, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :accepted, "Done", id: "accepted", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :accepted, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :feature, "Feature", id: "feature", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :feature, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :accepted, "Chore", id: "chore", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :chore, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :accepted, "Bug", id: "bug", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :bug, class: "form-control" %>
        </div>
      </div>

    <div class="form-group">
      <%= f.label :accepted, "Retro", id: "retro", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :retro, class: "form-control" %>
      </div>
    </div>
      
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Update colors", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= content_tag "div", id: "settings", data: {color: @color} do %>
  <script> initAdminColors(); </script>
<% end %>