<div class="panel panel-default">
  <div class="panel-heading">People</div>
  <div class="panel-body">
    <p><%= link_to "Reload People", "/admin/reload", class: "btn btn-primary" %></p>
    <p>
      <table class="table table-hover">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Admin</th>
        </tr>
        <% @people.each do |person| %>
          <tr>
            <td><img src="<%= person.image_path %>" alt="No image" /></td>
            <td><%= person.name %></td>
            <td><%= person.username %></td>
            <td><%= person.email %></td>
            <td><%= (person.admin?? "Yes": "No") %></td>
          </tr>
        <% end %>
      </table>
    </p>
  </div>
</div>