<div class="panel panel-default story <%= story.story_type %> <%= 'appian' if story.appian? %>">
  <div class="panel-body">
    <%= render "stories/fields", story: story %>
    <span class="pull-right">
      <%= link_to "More", "#", class: "btn btn-primary", "data-toggle" => "modal", 
                  "data-target" => "\##{story.id}-modal" %>
    </span>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="<%= story.id %>-modal" tabindex="-1" role="dialog" 
     aria-labelledby="<%= story.id %>-modal-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content <%= story.story_type %> <%= 'appian' if story.appian? %>">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= render "stories/fields", story: story %>
      </div>
    </div>
  </div>
</div>