<div class="panel panel-default <%= story.story_type %>">
  <div class="panel-body">
    <span><%= story.name %></span><br>
    <span><strong>ID: </strong><%= story.id %></span><br>
    <span><strong>Type: </strong><%= story.story_type.capitalize %></span><br>
    <% unless(story.estimate.nil?) %>
      <span><strong>Story points: </strong><%= story.estimate %></span><br>
    <% end %>  
    <% if(story.owned_by.length > 0) %>
      <span><strong>Owned by: </strong><%= story.owned_by.join(", ") %></span>
    <% end %>  
  </div>
</div>