<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Unstarted</strong> (<%= @unstarted_story_points %> sp)</div>
        <div class="panel-body">
          <% @unstarted_stories.each do |unstarted_story| %>
            <%= render "stories/story", story: unstarted_story %>
          <% end %>
        </div>
      </div>
      </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Started</strong> (<%= @started_story_points %> sp)</div>
        <div class="panel-body">
          <% @started_stories.each do |started_story| %>
            <%= render "stories/story", story: started_story %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Finished</strong> (<%= @finished_story_points %> sp)</div>
        <div class="panel-body">
          <% @finished_stories.each do |finished_story| %>
            <%= render "stories/story", story: finished_story %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Delivered</strong> (<%= @delivered_story_points %> sp)</div>
        <div class="panel-body">
          <% @delivered_stories.each do |delivered_story| %>
            <%= render "stories/story", story: delivered_story %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>