<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render "stories/backlog", state: "Unstarted", 
                 stories: @current.unstarted_stories, 
                 story_points: @current.unstarted_story_points %>
    </div>
    <div class="col-md-3">
      <%= render "stories/backlog", state: "Started",
                 stories: @current.started_stories,
                 story_points: @current.started_story_points %>
    </div>
    <div class="col-md-2">
      <%= render "stories/backlog", state: "Finished",
                 stories: @current.finished_stories,
                 story_points: @current.finished_story_points %>
    </div>
    <div class="col-md-2">
      <%= render "stories/backlog", state: "Delivered",
                 stories: @current.delivered_stories,
                 story_points: @current.delivered_story_points %>
    </div>
    <div class="col-md-2">
      <%= render "stories/backlog", state: "Accepted",
                 stories: @current.accepted_stories,
                 story_points: @current.accepted_story_points %>
    </div>
  </div>
</div>