<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Unstarted</strong> (<%= @current.unstarted_story_points %> sp)</div>
        <div class="panel-body">
          <% @current.unstarted_stories.each do |unstarted_story| %>
            <%= render "stories/story", story: unstarted_story %>
          <% end %>
        </div>
      </div>
      </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Started</strong> (<%= @current.started_story_points %> sp)</div>
        <div class="panel-body">
          <% @current.started_stories.each do |started_story| %>
            <%= render "stories/story", story: started_story %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Finished</strong> (<%= @current.finished_story_points %> sp)</div>
        <div class="panel-body">
          <% @current.finished_stories.each do |finished_story| %>
            <%= render "stories/story", story: finished_story %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Delivered</strong> (<%= @current.delivered_story_points %> sp)</div>
        <div class="panel-body">
          <% @current.delivered_stories.each do |delivered_story| %>
            <%= render "stories/story", story: delivered_story %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Accepted</strong> (<%= @current.accepted_story_points %> sp)</div>
        <div class="panel-body">
          <% @current.accepted_stories.each do |accepted_story| %>
            <%= render "stories/story", story: accepted_story %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>