<div class="panel panel-default">
  <div class="panel-body">
    <span><strong><%= story.name %></strong></span><br>
    <span class="story-id"><strong>ID: </strong><%= story.id %></span><br>
    <% if(!story.estimate.nil? && story.estimate > 0) %>
      <span class="story-points"><strong>Story Points: </strong><%= story.estimate %> sp</span><br>
    <% end %>
    <% if(story.owner_ids.length > 0) %>
      <span><strong>Owners: </strong><%= story.owners_name %></span><br>
    <% end %>
    <% unless(story.description.nil?) %>
      <div class="panel panel-default">
        <strong>Description</strong><br>
        <span><%= simple_format story.description %></span>
      </div>
    <% end %>
  </div>
</div>