<% provide :title, "#{@team.capitalize} List" %>
<div id="content" class="content container-fluid">
  <div class="row-fluid">
    <%= render "backlog", state: "Unstarted or Rejected",
               stories: @current.unstarted_stories,
               story_points: @current.unstarted_story_points,
               col_size: 12 %>
  </div>
  <div class="row-fluid">
    <%= render "backlog", state: "Started",
               stories: @current.started_stories,
               story_points: @current.started_story_points %>
  </div>
  <div class="row-fluid">
    <%= render "backlog", state: "Finished",
               stories: @current.finished_stories,
               story_points: @current.finished_story_points %>
  </div>
  <div class="row-fluid">
    <%= render "backlog", state: "Delivered",
               stories: @current.delivered_stories,
               story_points: @current.delivered_story_points %>
  </div>
  <div class="row-fluid">
    <%= render "backlog", state: "Accepted",
               stories: @current.accepted_stories,
               story_points: @current.accepted_story_points %>
  </div>
</div>