<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "#{yield :title}", "", class: "navbar-brand", onclick: "history.go(0)" %>
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" 
              data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% @teams.each do |team| %>
          <li><%= link_to "#{team.capitalize} Board ", "../board/#{team}" %></li>
        <% end %>
        <% @teams.each do |team| %>
          <li><%= link_to "#{team.capitalize} Chart", "../chart/#{team}" %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if person_signed_in? %>
            <li><%= link_to "Welcome #{current_person.name}!", edit_person_registration_path %></li>
            <% if current_person.admin? %>
              <li><%= link_to "Admin", "/admin" %></li>
            <% end %>
            <li><%= link_to "Sign out", destroy_person_session_path, method: :delete%></li>
        <% else %>
          <li><%= link_to "Sign in", new_person_session_path %></li>
        <% end %>
      </ul>
  </div>
  </div>
</nav>