<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <% unless @team.nil? %>
      <%= link_to "#{yield :title}", "", class: "navbar-brand", onclick: "history.go(0)" %>
    <% end %>
    <% @teams.each do |team| %>
      <%= link_to "#{team.capitalize} Board", "../board/#{team}", target: "_blank", class: "btn btn-default navbar-btn" %>
    <% end %>
    <% @teams.each do |team| %>
      <%= link_to "#{team.capitalize} Chart", "../chart/#{team}", target: "_blank", class: "btn btn-default navbar-btn" %>
    <% end %>
    <span class="pull-right navbar-text">
      <% if person_signed_in? %>
        Hello, <%= link_to current_person.name, edit_person_registration_path %>!
        <%= link_to "Sign out", destroy_person_session_path, method: :delete, class: "btn" %>
      <% else %>
        <%= link_to "Sign in", new_person_session_path %>
      <% end %>
    </span>
  </div>
</nav>